.square{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.no-border {
    border: none !important;
}

.page-link:hover {
    background: white;
}

.text-gray{
    color:rgb(164, 163, 163);
}

.nav-tabs .nav-item .nav-link{
    color: black;
}
.nav-tabs .nav-item .nav-link.active{
    color: #0d6efd;
}