.squared-img {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 100%;
}
.squared-img img {
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.no-border {
    border: none !important;
}

.page-link:hover {
    background: white;
}

.text-gray{
    color:rgb(164, 163, 163);
}

.nav-tabs .nav-item .nav-link{
    color: black;
}
.nav-tabs .nav-item .nav-link.active{
    color: #0d6efd;
}